#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-width: 60vw;
}

@media screen and (min-width: 1280px){
  #root {
    min-width: 800px;
  }
}

@media screen and (max-width: 600px) {
  #root {
    padding: 0;
    min-width: calc(100% - 2em);
    margin: 0.5em 1em;
  }
}

p, h1, h2 {
  text-align: left;
}

/* Nav bar styling */
.nav-bar {
  display: flex;
  justify-content: right;
  align-items: center;
}

.vl {
  border-left: 2px solid lightgray;
  height: 1.5em;
  margin-inline: 1em;
}

button#logout {
  align-self: flex-end;
}

small {
  font-size: 0.7em;
}

.error-msg {
  color: #d00;
}

/* Time entry form styling */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  font-size: 0.8em;
  border: unset;
}

input[type=email] + label,
input[type=password] + label,
input[type=text] + label,
textarea + label,
datalist + label,
.space-above
{
  margin-top: 1rem;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a6a6a6;
  opacity: 1; /* Firefox */
}

.large-space-above {
  margin-top: 3em;
}

.delete-button {
  padding: 0.5em;
  font-size: 0.8em;
}

input, textarea {
  border: unset;
  padding: 0.5em;
}

#email, #password {
  min-width: 15em;
}

#note {
  height: 25vh;
  min-height: 7.5em;
  align-self: stretch;
  padding: 0.5em;
}

@media screen and (max-width: 600px){
  #note {
    font-size: 1rem;
  }
}

#submit-row {
  margin-top: 2em;
  margin-bottom: 4em;
}

.horiz {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.vert {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wrap {
  flex-wrap: wrap;
}

.notification {
  font-size: 0.7em;
  margin-top: 0.5em;
}


/* Log entry table styling */
.small-time {
  font-size: 0.8rem;
  line-height: 0.8rem;
  min-width: 70px;
}

th, td {
  border: 1px solid lightgray;
}

table {
  margin-top: 1rem;
  width: 100%;
}

.note-display {
  white-space: pre-line;
  text-align: left;
  margin: 1em;
  line-height: 1.1em;
}

.signup-link {
  cursor: pointer;
  font-size: .8em;
  text-align: left;
}
