body {
  font-size: 2vh;
  line-height: 1.4em;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p, h1, h2 {
  text-align: left;
}

.App {
  display: flex;
  flex-direction: column;
  min-width: 60vw;
}

/* Nav bar styling */
.nav-bar {
  display: flex;
  justify-content: right;
  align-items: center;
}

.vl {
  border-left: 2px solid lightgray;
  height: 1.5em;
  margin-inline: 1em;
}

button#logout {
  align-self: flex-end;
}

small {
  font-size: 0.7em;
}

.error-msg {
  color: #d00;
}

/* Time entry form styling */
form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  font-size: 0.8em;
  border: unset;
}

input[type=email] + label,
input[type=password] + label,
input[type=text] + label,
textarea + label,
datalist + label,
.space-above
{
  margin-top: 1rem;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a6a6a6;
  opacity: 1; /* Firefox */
}

.large-space-above {
  margin-top: 3em;
}

.delete-button {
  padding: 0.5em;
  font-size: 0.8em;
}

input, textarea {
  border: unset;
  padding: 0.5em;
}

#email, #password {
  min-width: 15em;
}

#note {
  height: 40vh;
  align-self: stretch;
  /* max-width: 60rem; */
  padding: 1em;
  font-size: 0.75em;
}

#submit-row {
  font-size: 2vh;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.horiz {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.horiz > * {
  margin-right: 1em;
}

.notification {
  font-size: 0.7em;
  margin-top: 0.5em;
}


/* Log entry table styling */
.small-time {
  font-size: 0.8rem;
  line-height: 0.8rem;
  min-width: 70px;
}

th, td {
  border: 1px solid lightgray;
}

table {
  margin-top: 1rem;
  width: 100%;
}

.note-display {
  white-space: pre-line;
  text-align: left;
  margin: 1em;
  /* max-height: 3em; */
  /* overflow: scroll; */
  font-size: 0.75em;
  line-height: 1.1em;
}

.signup-link {
  cursor: pointer;
  font-size: .8em;
  text-align: left;
}
