body {
  font-size: 2vh;
  line-height: 2rem;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input + label {
  margin-top: 1rem;
}

input[type="submit"] {
  font-size: 2vh;
  margin-top: 1rem;
  padding:0.5rem;
}

#note {
  height: 50vh;
  width: 80vw;
  max-width: 40rem;
}

.small-time {
  font-size: 0.8rem;
  line-height: 0.8rem;
}

th, td {
  border: 1px solid lightgray;
}

table {
  margin-top: 1rem;
  width: 100%;
}
